# Backward-compatible entrypoint:
#   pip install -r requirements.txt
#
# Production only:
#   pip install -r requirements-prod.txt
#
# Development (prod + test/lint tools):
#   pip install -r requirements-prod.txt -r requirements-dev.txt

-r requirements-prod.txt
-r requirements-dev.txt
